<div class="row">
    <div class="col-md-4">
      {% block c1 %}{% endblock %}
    </div>
    <div class="col-md-4">
      {% block c2 %}{% endblock %}
    </div>
    <div class="col-md-4">
      {% block c3 %}{% endblock %}
    </div>
</div>